[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pipdeptree = "*"
pip-chill = "*"

[packages]
twine = "*"
setuptools = "*"
wheel = "*"
jaconv = "*"
word2number = "*"
jinja2 = "*"
notebook = "*"

[requires]
python_version = "3.8"
